<div>
    <div class="row">
        <div class="col-1">
          <!-- <app-side-bar></app-side-bar> -->
        </div>
        <div class="col-11 mt-5">
          <!-- <app-chart2></app-chart2> -->

          <div class="container px-4 py-5" id="custom-cards">
            <h2 class="pb-2 border-bottom"> <i class="bi bi-ui-radios"></i> Global Vision</h2>
        
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
              <div class="col"> 
                <div class="card card-cover h-100 overflow-hidden  rounded-4 shadow-lg" style="background-color: #EE4266;background-image: url('unsplash-photo-1.jpg');">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Nombre de Clients</h3>
                    <h3>300 clients</h3>
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg" style="background-color: #284b63;background-image: url('unsplash-photo-2.jpg');">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h5 class="pt-4 mt-5 mb-4 display-6 lh-1 fw-bold">Nombre de produits</h5>
                    <h3>300 produits</h3>
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <!-- <app-chart></app-chart> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>