<div class="row mt-5">
    <div class="col-1">
        <app-side-bar></app-side-bar>
    </div>
    <div class="col-11 d-flex justify-content-center align-items-center">
        <div class="product-details-container">
            <div class="row">
                <div class="col-lg-6 mb-4 mb-lg-0 d-flex align-items-center">
                    <img src="../../../assets/images/product1.jpg" alt="product1" class="product-image">
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h2 class="product-title">Product 1</h2>
                    <p class="product-description mb-5">
                        Some Product 1 description example text to have in your description lorem ipsum llalaoalpSome Product 1 description example text to have in your description lorem ipsum llalaoalp
                        Some Product 1 description example text to have in your description lorem ipsum llalaoalpSome Product 1 description example text to have in your description lorem ipsum llalaoalpSome Product 1 description example text to have in your description lorem ipsum llalaoalp
                        Some Product 1 description example text to have in your description lorem ipsum llalaoalp
                        Some Product 1 description example text to have in your description lorem ipsum llalaoalp
                        Some Product 1 description example text to have in your description lorem ipsum llalaoalp
                    </p>
                    <p class="product-info mt-4">Fournisseur name: Mohammed el bakkali</p>
                    <p class="product-info">Quantity: 2981 left</p>
                    <p>Price: <span class="product-price">1000 MAD</span></p>
                    <button type="button" class="btn btn-dark">Buy product</button>
                </div>
            </div>
            
        </div>
    </div>
</div>
