

    <div class="col-11 d-flex justify-content-center align-items-center">
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title">Edit Profile</h4>
                                <p class="card-category">Complete your profile</p>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="flex-container">
                                            <mat-form-field appearance="outline" class="example-full-width flex-item ">
                                                <mat-label>First Name</mat-label>
                                                <input matInput type="text">
                                            </mat-form-field>
                                    
                                            <mat-form-field appearance="outline" class="example-full-width flex-item">
                                                <mat-label>Last Name</mat-label>
                                                <input matInput placeholder="Last Name" type="text">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>Address</mat-label>
                                                <input matInput type="text">
                                            </mat-form-field>
                                    </div>

                                    <div class="row">
                                        <div class="flex-container">
                                            <mat-form-field appearance="outline" class="example-full-width flex-item">
                                                <mat-label>City</mat-label>
                                                <input matInput type="text">
                                            </mat-form-field>
                                    
                                            <mat-form-field appearance="outline" class="example-full-width flex-item">
                                                <mat-label>Country</mat-label>
                                                <input matInput type="text">
                                            </mat-form-field>
                                    
                                            <mat-form-field appearance="outline" class="example-full-width flex-item">
                                                <mat-label>Postal Code</mat-label>
                                                <input matInput type="text">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    
                                                                            
                                
                                    <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-profile d-flex align-items-center p-5">
                            <div class="card-avatar mt-4">
                                <a href="javascript:void(0)">
                                    <img class="img" src="../../../assets/images/marc.jpg"/>
                                </a>
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title">Alec Thompson</h4>
                                <a href="javascript:void(0)" class="btn btn-danger btn-round">Fournisseur</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          
    </div>