<div class="sidebar close">
  <div class="logo-details" >
    <img src="/assets/images/logo.png" style="width: 50px; border-radius: 10px; margin-top:10px; margin-left:15px">
  </div>
    <ul class="nav-links">
      <li>
        <a routerLink="/dashboard">
          <i class='bi bi-columns-gap' ></i>
          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu">
          <li><a class="link_name" routerLink="/dashboard"> Dashboard</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="/dashboard/profile">
          <i class='bi bi-person' ></i>
          <span class="link_name">Profile</span>
        </a>
        <ul class="sub-menu">
          <li><a class="link_name" routerLink="/dashboard/profile">Profile</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="/dashboard/buy">
          <i class='bi bi-cart2' ></i>
          <span class="link_name">Raw material</span>
        </a>
        <ul class="sub-menu">
          <li><a class="link_name" routerLink="/dashboard/buy">Buy raw material</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a routerLink="/dashboard/manage">
            <i class="bi bi-clipboard2"></i>
            <span class="link_name">Manage</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name"routerLink="/dashboard/manage">Manage</a></li>
          <li><a routerLink="/dashboard/manage"> <i class="bi bi-plus-square" style="font-size: 20px;margin: 0;"></i>Add product</a> </li>
          <li><a routerLink="/dashboard/manage"><i class="bi bi-list-ul"  style="font-size: 20px;margin: 0;"></i>Manage products</a></li>
        
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a routerLink="/dashboard/journey">
            <i class='bi bi-airplane-engines' ></i>
            <span class="link_name" >traceability</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" routerLink="/dashboard/journey">traceability</a></li>
          <li><a routerLink="/dashboard/journey"><i class="bi bi-map" style="font-size: 20px;margin: 0;"></i>Product traceability</a></li>
        </ul>
      </li>

</ul>
  </div>

