<div>
  <div class="row align-items-center">
   <div class="col-4">
    <img src="../../../assets/images/back.jpg" alt="" style="width: 100%;">
   </div>

   <div class="col-6 mx-5">
    <h1 class="mt-5 mb-2">Blockchain</h1>
    <p  class="mb-5">Create an account</p>

        <mat-form-field appearance="outline"  class="input">
            <mat-label>Firstname</mat-label>
            <input matInput [(ngModel)]="userDto.firstname" type="text" class="form-control" id="firstname">
        </mat-form-field>
        <mat-form-field appearance="outline"  class="input">
          <mat-label>Lastname</mat-label>
          <input matInput [(ngModel)]="userDto.lastname" type="text" class="form-control" id="lastname">
        </mat-form-field>
        <mat-form-field appearance="outline" class="input">
          <mat-label>Account Type</mat-label>
          <mat-select id="inputState" [(ngModel)]="userDto.role">
            <mat-option value="3">Fourniseur</mat-option>
            <mat-option value="4">Producteur</mat-option>
            <mat-option value="5">Client</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline"  class="input">
          <mat-label>Email address</mat-label>
          <input matInput [(ngModel)]="userDto.email" type="email" class="form-control" id="login">
        </mat-form-field>
        <mat-form-field appearance="outline"  class="input">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="userDto.password" type="password" class="form-control" id="password">
        </mat-form-field>


        <button class="btn btn-dark" (click)="register()" type="button">
            Register
        </button>
        <div>
          Already have an account?&nbsp;
          <button (click)="login()" type="button" class="btn btn-link">
            Log In
          </button>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="errorMessages.length">
          <p *ngFor="let msg of errorMessages">{{msg}}</p>
        </div>

  </div>
    

  </div>
</div>
