<div class="row my-5  align-items-center">
    <div class="col-2"></div>
    <div class="col-4">
     <h3> Because the journey matters </h3>
     <p>Blockchain based traceability solution built to enable trust, coordination, and transparency in fragmented supply chains.</p>
     <button class="btn btn-outline-dark">Learn more</button>
  
    </div>
    <div class="col-6">
      <img src="assets/images/hero-pic.jpeg" alt="pic" style="width: 500px; border-radius:20px;">
  
    </div>
  </div>
  
  